.categoryContainer{
    padding: 2rem;
    display: flex;
}

.categoryFlavors{
    flex: 1 0 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.categoryFlavors > div{
    flex: 0 0 30%;
}

.individualFlavors{
    display: block;
    border: 1px solid black;
    border-radius: 10px;
    padding: .5rem
}

.individualFlavors li{
    list-style:circle;
}

.individualFlavors:hover{
    background-color: #dedede;
    cursor: pointer;
}

.categoryHeader{
    width: 100%;
    text-decoration: underline;
    text-align: center;
}

.quoteBox{
    flex: 0  0 50%;
    align-self: flex-start;
}

