/*CSS for the flavors component*/

.categoryContainer {
    padding: 2rem;
    display: flex;
}

.categoryContainer > div:nth-of-type(2) {
    position: fixed;
    top: 50%;
    left: 48%;
    transform: translate(50%, -50%);
}

.categoryFlavors {
    flex: 0 0 60%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.categoryFlavors > div {
    flex: 0 0 30%;
}

.individualFlavors {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: .5rem;
}

.individualFlavors li {
    list-style: circle;
}

.individualFlavors:hover {
    background-color: #dedede;
    cursor: pointer;
}

.categoryHeader {
    width: 100%;
    text-decoration: underline;
    text-align: center;
    height: 48px;
}

.backArrow{
    position: absolute;
    left: 45px;
    transform: scale(2);
    backdrop-filter: brightness(75%);
    border-radius: 50%;
    padding: .1rem;
}

.spinner{
    z-index: 99999999; /*Trust me. This value is needed (: */
    position:fixed;
    top: 50%;
    left: 50%;
    translate: translate(-50%, -50%);
}

@media (min-width: 1600px) {
    .categoryContainer > div:nth-of-type(2) {
        position: fixed;
        top: 50%;
        left: 60%;
        transform: translate(50%, -50%);
    }
}

@media (max-width: 1190px) {
    .categoryFlavors {
        margin: 1rem;
        justify-content: center;
        margin-bottom: 2rem;
    }

    .categoryContainer {
        flex-direction: column;
    }

    #flavorQuote {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0%, 0%);
        margin-bottom: 2rem;
    }
}

@media (max-width: 650px){
    .categoryFlavors{
        flex-direction: column;
        justify-content: flex-start;
    }

    .categoryHeader{
        margin-bottom: 2rem;
    }

    .backArrow{
        top: 100px;
        left: 35px;
    }
}