/*CSS for the flavors component*/

.categoryContainer {
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    min-height: 100vh;
}

.categoryFlavors {
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    min-height: 100vh;
}

.categoryFlavors > div {
    flex: 0 0 100%;
}

.individualFlavors {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: .5rem;
}

.individualFlavors li {
    list-style: circle;
}

.individualFlavors:hover {
    background-color: #dedede;
    cursor: pointer;
}

.categoryHeader {
    width: 100%;
    text-decoration: underline;
    text-align: center;
    height: 48px;
}

.searchBar{
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5px;
}

.backArrow{
    position: absolute;
    top: -15px;
    left: -15px;
    transform: scale(2);
    backdrop-filter: brightness(75%);
    border-radius: 50%;
    padding: .1rem;
}

.spinner{
    z-index: 99999999; /*Trust me. This value is needed (: */
    position: absolute;
    top: 50%;
    left: 50%;
    translate: translate(-50%, -50%);
}

#flavorQuote {
    position: fixed;
    top: 50%;
    left: 48%;
    transform: translate(50%, -50%);
}

@media (min-width: 1600px) {
    #flavorQuote {
        position: fixed;
        top: 50%;
        left: 60%;
        transform: translate(50%, -50%);
    }
}

@media (max-width: 1190px), (max-height: 650px) {

    .categoryContainer {
        flex-direction: column;
    }

    .categoryFlavors {
        width: 100%;
        min-height: 100vh;
    }

    #flavorQuote {
        flex: 0 0 100%;
        margin-top: 1rem;
        position: static;
        top: auto;
        left: auto;
        transform: translate(0%, 0%); 
        align-self: center;
    }
}

@media (max-width: 650px){
    
    .categoryHeader{
        margin-bottom: 2rem;
    }

    .backArrow{
        transform: scale(1.3);
        top: calc(1rem - 35px);
        left: calc(1rem - 35px);
    }

}