/*CSS for the Slider component*/

.carousel-caption > p,
.carousel-caption > h3 {
    animation: fadeIn 1.5s ease-in;
    color: var( --primary-text-color);
}

.carousel-caption {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    padding-bottom: 0rem !important;
    position: absolute;
    left: 50% !important;
    right: auto !important;
    padding: 1rem;
    transform: translateX(-50%);
}

.carousel-control-next, .carousel-control-prev {
    width: 30% !important;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 50%;
    padding: 2rem;
}

.carousel {
    border-radius: 20px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 630px) {
    .sliderLinks > p,
    .sliderLinks > h3 {
        font-size: x-small;
        color: black;
    }

    .carousel-control-next, .carousel-control-prev {
        width: 30% !important;
        transform: scale(.5);
    }
}