/**
*CSS for the navbar component. This css file overrides some bootstrap styles and can be refactored to be more dynamic and clean.
*/

nav li {
    margin: 1.5rem;
    position: relative;
}

.navContainer img {
    height: 100%;
    margin-left: 20px;
}

.navContainer nav {
    margin-right: 5rem;
}

.navContainer ul {
    display: flex;
}

.serverAlertIcon{
    position: relative;
    cursor: pointer;
    transform: scale(1.3);
    z-index: 10;
}

.serverAlertIcon::after{
    content: "";
    visibility: hidden;
    width: 160px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: visibility 0.2s, opacity 0.2s;
    opacity: 0;
    font-size: small;
}

.serverAlertIcon:hover::after{
    visibility: visible;
    opacity: 1;
}

.red{
    color: red;
}

.red::after{
    content: "Server is waking up. It may take a few minutes for this to happen.";
}

.green{
    color: green;
}

.green::after{
    content: "Server status: Online. Data fetching complete.";
}

.navContainer {
    display: flex;
    flex-direction: row;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    background-color: #ffffff;
    border-bottom: 2px solid rgba(0, 0, 0, 0.506);
}

.hoverLink::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.hoverLink:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.logoLink {
    height: 100%;
}

.mobileContainer {
    display: none;
}

@media (max-width:992px) {

    .navContainer {
        display: none;
    }

    .mobileContainer {
        display: flex;
        height: 80px;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-bottom: 2px solid rgba(0, 0, 0, 0.506);
    }

    .mobileContainer img {
        height: 80%;
        margin-left: 20px;
    }

    .burgerIcon {
        margin-right: 20px;
        transform: scale(2);
        position: absolute;
        right: 0;
        top: 26px;
        z-index: 20;
    }

    .menuStatus {
        cursor: pointer;
    }

    .closed {
        display: none;
    }

    .open {
        display: block;
    }

    .openMenu {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: auto;
        min-height: 100vh;
        background-color: #ffffff;
        z-index: 10;
        padding: 1rem;
    }

    .hoverLink::after {
        display: none;
    }

    .hoverLink:hover {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .mobileNavUl {
        border: 3px solid black;
        padding: 1rem;
        border-radius: 20px;
    }

    .mobileNavUl > li {
        display: flex;
        justify-content: center;
    }

    .mobileNavUl > li> * {
        margin: 2rem;
        backdrop-filter: brightness(0.8);
        padding: 1rem;
        border-radius: 5px;
    }

    .nav-item.dropdown{
        padding: 0;
    }

    .dropdown-menu > a {
        color: rgb(255, 255, 255) !important;
        display: inline-block;
        width: 100%;
        padding: .3rem;
    }

    .dropdown-menu {
        background-color: rgb(10, 10, 10) !important;
    }

    .dropdown-menu > a:hover {
        background-color: rgb(99, 99, 99) !important;
    }

    /*These styles can be written better to be more dynamic but
    due to time constraints and given that the amount of categories wont change, this will work.*/

    .dropdown-menu {
        position: relative !important;
        width: 100%;
    }

    .nav-item.dropdown > a {
        padding: 1rem;
        width: 100%;
        height: 100%;
    }

    .openMenu nav {
        max-width: 280px;
    }

    .openMenu {
        height: auto;
        min-height: 100vh;
    }

    .dropCategory > div > div {
        transform: translate(0px, 0px) !important;
    }

    .dropCapabilities > div > div {
        transform: translate(0px, 0px) !important;
    }

    .logoLink {
        display: flex;
        align-items: center;
    }

    #mobileAlert{
        position: absolute;
        right: 100px;
        top: 27px;
        list-style: none;
    }
}
