.reviews-container{
    margin: 1.5rem;
    padding: 2rem;
    border: 2px solid rgba(0, 0, 0, 0.617);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    position: relative;
}

.review-stripe::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit; /* Inherit the background color of the container */
    transform: skewY(-5deg); /* Adjust the skew angle as needed */
    transform-origin: 0;
}

.review-stripe::after {
    content: '';
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #fff; /* White background color */
    transform: skewY(-5deg); /* Match the skew angle of the ::before element */
    transform-origin: 0;
}

.review-stripe{
    margin-top: 10vh;
    position: relative;
    background-color: #3498db; /* Background color of the container */
    height: 200px; /* Set the desired height */
    width: calc(100% + 4rem);
    margin: 15rem -2rem 0;
}

.reviews-heading > h1{
    font-size: calc(20px + 3vw);
    font-weight: 600;
    letter-spacing: 2px;
}

.reviews-heading > p{
    line-height: 35px;
    font-size: larger;
    letter-spacing: 1px;
    max-width: 70%;
    margin-top: 3rem;
}

.reviews-container > img{
    position: absolute;
    width: 70%;
    height: auto;
    max-width: 1254px;
    max-height: 700px;
    right: 0;
    top: 0;
    z-index: -1;
}