.reviews-container{
    padding: 2rem;
    border: 2px solid rgba(0, 0, 0, 0.617);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    position: relative;
    max-width: 1400px;
}

.review-body{
    padding: 3rem;
}

.reviews-container > *{
    color: var(--primary-text-color);
}

.review-stripe::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 1px);
    height: 100%;
    background-color: #326295;
    transform: skewY(-5deg); 
    transform-origin: 0;
    border-right: 1px solid #326295;
}

.review-stripe::after {
    content: '';
    position: absolute;
    bottom: -125px;
    left: 0;
    width: calc(100% + 1px);
    height: 125px;
    background-color: #ffffff; 
    transform: skewY(-5deg); 
    transform-origin: 0;
    border-right: 1px solid #000000;
}

.review-stripe{
    position: relative;
    background-color: #326295;
    height: 100px; 
    width: calc(100% + 4rem);
    margin: 10rem -2rem 135px;
}

.reviews-heading > *{
    color: var(--primary-text-color);
}

.reviews-heading > h1{
    font-size: calc(20px + 3vw);
    font-weight: 600;
    letter-spacing: 2px;
}

.star-container > h3{
    display: flex;
    margin: 0rem;
    align-items: center;
}

.reviews-heading > p{
    line-height: 35px;
    font-size: larger;
    letter-spacing: 1px;
    max-width: 70%;
    margin-top: 3rem;
}

.reviews-container > img{
    position: absolute;
    width: 70%;
    height: auto;
    max-width: 1254px;
    max-height: 700px;
    right: 0;
    top: 0;
    z-index: -1;
}

.stars{
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.star-container{
    display: flex;
    justify-content: space-around;
}

.add-review{
    font-size: 20px;
    position: fixed;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    width: 200px;
    height: 75px;
    color: white;
}

.reviews-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.review-headers{
    text-align: center;
}

.sort-by{
    margin: 0 .95rem;
    display: flex;
    align-items: center;
}

.sort-by > *{
    flex: 0 0 50%;
}

.form-bootstrap{
    min-height: 150px;
    max-width: 47%;
}

#glow-button{
    background-color: var(--primary-dark-blue);
    color: #fff;
    padding: 10px 20px;
    font-size: 36px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    animation: glow 2.5s infinite;
    margin-top: 3rem;
}

@keyframes glow {
    0% {
        background-color: #326295;
        box-shadow: 0 0 25px 3px #326295;
    }
    50% {
        background-color: #488cd5;
        box-shadow: 0 0 15px 3px #488cd5;
    }
    100% {
        background-color: #326295;
        box-shadow: 0 0 25px 3px #326295;
    }
}

@media (min-width: 1400px) {

    .review-body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1517px){
    .review-stripe::after {
        content: '';
        position: absolute;
        bottom: -125px;
        left: 0;
        width: calc(100% + 1px);
        height: 125px;
        background-color: #ffffff; 
        transform: skewY(-5deg); 
        transform-origin: 0;
        border-right: 1px solid #ffffff;
    }
}

@media (max-width: 1050px){
    .reviews-heading > p{
        font-size: 15px !important; 
    }

    .reviews-container > img{
        top: 18rem;
    }

    .reviews-heading > p:first-of-type{
        max-width: 90%;
    }

    .reviews-grid{
        grid-template-columns: 1fr;
    }

    .sort-by{
        flex-direction: column;
    }

    .sort-by > *{
        flex: 0 0 100%;
    }

    .form-bootstrap{
        max-width: 100%;
    }

    .stars{
        order: -1;
        width: 80%;
        margin: 2rem;
    }
}

@media (max-width: 650px){
    .reviews-container > img{
        top: 30rem;
    }

    #glow-button{
        font-size: 23px;
    }
}

@media (max-width: 515px){
    .reviews-heading p:nth-child(3){
        max-width: 90%;
    }

    .reviews-container{
        padding: .5rem;
    }

    #glow-button{
        position: absolute;
        bottom: -100px;
        left: 50%;
        transform: translate(-50%);
        white-space: nowrap;
    }

    .review-stripe{
        display: none;
    }

    .reviews-heading{
        position: relative;
    }

    .review-headers{
        margin-top: 10rem;
    }
    
}