.warning{
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 50%;
    backdrop-filter: blur(10px);
    background-color: rgba(1, 1, 1, 0.622);
    border-radius: 20px;
    padding: 1rem;
    transform: translate(-50%, -50%);
    color: white;
}

.closeIcon{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    transform: scale(2);
}

.closeMenu{
    display: none;
}

.warning > h1{
    color: rgb(255, 18, 18);
    font-size: 50px;
    padding-bottom: 3rem;
}

.warning > p{
    letter-spacing: 2px;
}

#renderLink{
    color: rgb(73, 219, 255);
    text-decoration: underline;
}

@media (max-width: 611px){
    .warning{
        padding-top: 3rem;
    }

    .warning{
        width: 90%;
    }
}