@import 'bootstrap/dist/css/bootstrap.min.css';

/**
*Global styles. I import bootstrap at the top so all files have access to its clases and
*set the raleway font as the default font for the whole app. This font is loaded via *the webfont loader in index.js
*/

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 700; 
    margin: 0;
    padding: 0;
    font-display: swap;
}

html{
    scroll-behavior: auto !important;
  }

a {
    text-decoration: none;
    color: var(--primary-text-color);
}

ul {
    margin-bottom: 0rem;
    list-style: none;
}

.setMobileMenu {
    max-height: 100vh;
    overflow: hidden;
}

/*Defining global variables for css colors*/

:root {
    --primary-text-color: #333333;
    --primary-background-color: #CCCCCC;
    --primary-dark-blue: #326295;
}